body {
    background-color: #E5E5E5;
    margin: 0;
    font-family: 'PT Sans';
}

.header {
    background-color: #202846;
    height: 90px;
    padding: 6px;
    box-sizing: border-box;
}

.logo {
    display: inline-block;
    height: 90%;
    width: 12%;
    margin-left: 5%;
}
.logo img {
    width: 100%;
}
.header-navigation {
    display: inline-block;
    margin: 0 0 0 17%;
    padding: 6px;
    width: 55%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
}

.header-navigation-item {
    display: inline-block;
    width: 19%;
    height: 100%;
    border-right: 2px solid white;
    vertical-align: top;
    padding-top: 2%;
    box-sizing: border-box;
}

.header-navigation-item a {
    display: block;
    width: 100%;
    height: 70%;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;

}
.header-navigation-item:last-child {
    padding-top: 1%;
    box-sizing: border-box;
    
}
.logo2 {
    display: inline-block;
}
.ua{
    color: white;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}
.rent{
    width: 100%;
    height: 100px;
    background-color: #C6C6DC;
    font-style: italic;
    font-size: 48px;
    line-height: 62px;
    padding-left: 122px;
    padding-top: 19px;
    color: #202846;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.content{
    width: 80%;
    height: 300px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-between;
}
.img-box{
    width: 35%;
}
.picture{
    width: 100%;
    height: 244px;
    margin: 27px 0 38px 33px;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    width: 55%;
    height: 47px;
    margin-top: -20px;
    margin-left: 50px;
}
.bakota{
    width: 97%;
    border-bottom: 3px solid #fff;
    font-size: 36px;
    font-style: italic;
    color: #353C57;
    font-weight: 700;
}
.text{
    font-size: 22px;
    text-align: center;
    color: #202846;
    width: 89%;
    height: 130px;
    background-color: #D7D7DD;
    padding: 21px 28px;
    font-style: none;
    margin-top: -20px;
}
.star{
    position: relative;
    top: 15px;
    right: 20px;
}
.star img:hover{
    background-color: yellow;
}
.button{
    position: absolute;
    width: 230px;
    height: 55px;
    background-color: #202846;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 538px;
    right: 6%;

}
.more{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
.new-margin{
    margin-top: 30px;
}
.pos2{
    top: 869px;
}
.pos3{
    top: 1189px;
}
.pos4{
    top: 1521px;
}
.new-margin2{
    margin-bottom: 80px;
}
.footer {
    background-color: #202846;
    height: 80px;
    color: white;
    font-style: italic;
    font-size: 2em;
    font-weight: 400;
    padding: 1% 7%;
    box-sizing: border-box;
    }
    