body {
    background-color: #E5E5E5;
    padding: 20px;
}
div {
    box-sizing: border-box;
}
.box {
    display: inline-block;
    height: 210px;
    width: 210px;
    margin: 0 50px 50px 0;
}

.square-line {
    background: url('./img1/Glyph.png'),linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    background-repeat: no-repeat;
    background-size: 75% auto, 100% 100%;
    background-position: center, 0 0; 
}
.circle-center-line {
    width: 100%;
    height: 100%;
    background: url('./img1/Glyph.png'), linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    background-size: 75% auto, 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 85%, 0 0;
    border-radius: 50%;
    margin: 0 auto;
}
.basic-square{
    background: linear-gradient(0deg,rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
}
.basic-circle{
    background: white;
    padding: 10px;
    box-sizing: border-box;
}
.basic-circle-center{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(253, 187,43, 1)50%, rgba(33, 55,252,1)50%);
    border-radius: 50%;
    margin: 0 auto;
}
.square-smile{
    background: url(./img1/Group.png), linear-gradient(0deg, rgba(253, 187,43, 1)50%, rgba(33, 55,252,1)50%);
    background-repeat: no-repeat;
    background-size: 65% auto, 100% 100%;
    background-position: 0, 50%;
}
.circle-center-smile{
    width: 100%;
    height: 100%;
    background: url('./img1/Group.png'), linear-gradient(0deg, rgba(253, 187,43, 1)50%, rgba(33, 55,252,1)50%);
    background-size: 65% auto, 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% center, 0 0;
    border-radius: 50%;
    margin: 0 auto;
}
.square-plane{
    background: url(./img1/Plane.png), linear-gradient(0deg, rgba(253, 187,43, 1)50%, rgba(33, 55,252,1)50%);
    background-repeat: no-repeat, no-repeat;
    background-size: 65% auto, 100% 100%;
    background-position: right bottom, 0 0;
}
.circle-center-plane{
    width: 100%;
    height: 100%;
    background: url('./img1/Plane.png'), linear-gradient(0deg, rgba(253, 187,43, 1)50%, rgba(33, 55,252,1)50%);
    background-size: 65% auto, 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% center, 0 0;
    border-radius: 50%;
    margin: 0 auto;
}
.square-diya{
    background: url('./img1/Vector.png'),linear-gradient(0deg, rgba(253, 187, 45, 1) 50%, rgba(33, 55, 252, 1) 50%);
    background-repeat: no-repeat;
    background-size: 75% auto, 100% 100%;
    background-position: center, 0 0; 
}
.circle-center-diya{
    width: 100%;
    height: 100%;
    background: url('./img1/Vector.png'), linear-gradient(0deg, rgba(253, 187,43, 1)50%, rgba(33, 55,252,1)50%);
    background-size: 65% auto, 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% center, 0 0;
    border-radius: 50%;
    margin: 0 auto;
}
.black-diya-center{
    background: url('./img1/Vector.png'), url(./img1/Flag.png), black;
    background-size: 70% auto, 18% 13%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center 40%, 50% 80%, 0 0; 
}
.black-left-flag-diya{
    background: url('./img1/Vector.png'), url(./img1/Flag.png), black;
    background-size: 70% auto, 18% 13%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center 40%, 5% 5%, 0 0; 
}
.black-left-right-flag-diya{
    background: url('./img1/Vector.png'), url(./img1/Flag.png), url(./img1/Flag.png), black;
    background-size: 70% auto, 18% 13%, 18% 13%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: center 40%, 5% 5%, 95% 5%, 0 0; 
}