body{
    font-family: 'Inika', serif;
}
.header{
    width: 100%;
    height: 110px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    padding-top: 25px;
    font-family: 'M PLUS 1', sans-serif;
    letter-spacing: 0.1em;
}
.blue{
    color:#3E45E8;
}
.yellow{
    color:rgb(236, 236, 46)
}   
.main{
    background-image: url(./img/image\ 1.png);
    width: 100%;
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
}
.line{
    width: 22px;
    height: 272px;
    position: absolute;
    top: 366px;
    left: 80px;
}
.blue-part{
    width: 22px;
    height: 136px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1E8DF2;
}
.yellow-part{
    width: 22px;
    height: 136px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FBE201;
}
.text{
    width: 69%;
    color: white;
    font-size: 48px;
    line-height: 157%;
    font-weight: 700;
    position: absolute;
    top: 305px;
    left: 118px;
}
.places-text{
    font-size: 40px;
    font-weight: 700;
    padding: 72px 0 25px 80px;
}
.blue-line{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    margin-top: 25px;
}
.places{
    width: 100%;
}
.card{
    width: 389.5px;
    height: 481px;
    background: #FFFFFF;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: inline-block;
    margin-left: 80px;
}
.card-title{
    color: #1E8DF2;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
}
.card-text{
    font-size: 20px;
    line-height: 31.5px;
    font-weight: 400;
    color:#E8C23E;  
}
a{
    text-decoration: none;
}
.victory{
    font-size: 40px;
    font-weight: 700;
    line-height: 63px;
    text-align: center;
}
.move{
    margin-left: 550px;
}
.map{
    background-image: url(./img/pngwing\ 2.png);
    width: 812px;
    height: 537px;
    margin-left: 22%;
}
.support{
    width: 591px;
    height: 111px;
    background-color: #2A61F0;
    margin-left: 468px;
}
.support-text{
    color: white;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    padding-top: 10px
}
.footer{
    width: 100%;
    height: 320px;
    background-color: #2F4A4B;
    margin-top: 20px;
}
.box-for-strong{
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    font-weight: 400;
    text-align: center;
}
.mail{
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 20px;
}
.link-color{
    color: #A89D9D;
}
.link-color2{
    color: #1E8DF2;
}
.link-color3{
    color: white;
}
.icons{
    text-align: center;
}