html{
    font-size: 16px;    
}
body, ul{
    margin: 0;
    padding: 0;
    background-color: #212529;
    font-family: 'Poppins', sans-serif;
}
li.nav-item a, .header-btn{
    text-decoration: none;
    color: #212529;
    text-transform: capitalize;
    color:white;
    font-size: 1rem;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
    font-weight: 600;
}
li.nav-item > a:active{
    font-size: 32px;
}
.nav{
    list-style: none;
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}
.header-btn{
    color:#212529;
    padding: 12px 26px;
    background-color: #FFB742;
    border-radius: 30px;
    font-weight: 700;
}
li.nav-item > a:hover{
    color:#FFB742;
}
.presentation-box{
    width: 65%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-top: 3rem;
    text-transform: capitalize;
}
.greeting{
    font-size: 2rem;
    width: 50%;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
}
.sp-color{
    color:#FFB742;
    padding: 1px;
    border-bottom: solid 2px;
}
.position{
    width: 100%;
    font-weight:700;
    font-size: 48px;
    color: #FFFFFF;
    text-align:center;
    margin-top: 1rem;
}
.what-i-do{
    width: 80%;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 3rem;
    padding-bottom: 3rem;
}
.smile-img{
    width: 25%;
}
.cards-box{
    margin:6rem auto;
    width: 90%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 0 2rem;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}
.card:hover{
    background-color: #FFB742;
    color:#000000;
}
.card:hover .text-color{
    background-color: #FFB742;
    color:#000000;
}
.card:hover .vector{
    background-color: #FFB742;
    color:#000000;
}
.img-box{
    width: 20%;
}
.text-color{
    color:#FFB742;
    font-size: 42px;
    margin: 0;
}
.text-box{
    width: 60%;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}
.vector{
    width: 5%;
   color: #B3B3B3;
}
.about-me-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
}
.man-image{
    width: 50%;
}
.man{
    width: 90%;
}
.text-box2{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.who-btn{
    color:#FFB742;
    padding: 12px 26px;
    background-color: #33363A;
    border-radius: 30px;
    font-weight: 700;
    width: 20%;
    text-transform: uppercase;
    margin-top: 3rem;
    text-align: center;
}
.about-me{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    width: 35%;
    padding-bottom: 1.5rem;
}
.text-info{
    color: #D4D4D4;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    line-height: 30px;
    text-align: left;
    padding-bottom: 3rem;
}
.btn-box{
    width: 25%;
}
.extra{
    padding: 12px 42px;
}
.works-box{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.my-works{
    color:#FFB742;
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
    width: 10%;
    text-transform: uppercase;
    padding: 8px 22px;
    background-color: #33363A;
    border-radius: 50px;
    text-align: center;
}
.fea-works{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#FFFFFF;
    font-size: 3rem;
    text-align: center;
    width: 30%;
    line-height: 56px;
    margin-bottom: 3rem;
}
.menu-works{
    width: 45%;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    text-align: center;
}
.menu-works div:hover{
    background-color: #FFB742;
    border-radius: 3px;
    color: #212529; 
}
.one{
    width: 4%;
    padding: 0.7rem 1rem;
}
.two{
    width: 15%;
    padding: 0.7rem 1rem;
}
.three{
    width: 25%;
    padding: 0.7rem 1rem;
}
.four{
    width: 30%;
    padding: 0.7rem 1rem;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.gallery-box{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-box{
    width: 30%;
    padding: .5rem;
}
.img-size{
    width: 100%;
}
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #1C1C1C;
    margin-top: 130px;
    padding: 103px 10px;
  }
  .text-yellow {
    font-size: 2rem;
    font-weight: 700;
    color: #FFB742;
    margin-bottom: 20px;
  }
  .text-creative {
    font-size: 1rem;
    font-weight: 400;
    color: #D4D4D4;
  }
  .footer-text {
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    background-color: #1C1C1C;
    margin-bottom: 20px;
  }
  .item-li {
    list-style: none;
    background-color: #1C1C1C;
    font-size: 1.1rem;
    color: #D4D4D4;
    padding: 10px;
    
  }
  .item-li:active {
    background-color: #FFB742;
    color: black;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all .4s;
  }
  
